<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>

  window.images = {
    logo: "<%= image_path('clonebnb-logo.png') %>",
    test: "<%= image_path('test.jpg') %>",
  }

</script>

<main id="root"></main>
