body {
  color: $dark-gray;
  font-family: $font-stack;
  font-weight: lighter;
}

img{
	max-width: 100%;
	height: auto;
}

a {
  color: $teal;
  text-decoration: none;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: 14px;
}

p, h2, h3, h4 {
  font-family: $font-stack;
  font-weight: lighter;
}

button, input {
  font-family: $font-stack;
  font-weight: lighter;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1080px;
  margin: 0 auto;

  &.con-pad {
      padding: 0 15px;
  }
}
