body {
  color: $dark-gray;
  font-family: $font-stack;
}

a {
  color: $teal;
  text-decoration: none;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: 14px;
}

button {
  font-family: $font-stack;
}
