.room-booking {
  width: 100%;
  max-width: 315px;
  margin-top: -49px;

  .bk-price {
    color: $white;
    background-color: rgba(60,63,64,0.9);
    padding: 13px 25px;

    p {
      padding: 0;
      margin: 0;
      font-size: 15px;
    }

    i {
      color: $dark-yellow;
      font-size: 18px;
      margin-right: 5px;
    }

    span {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .date-labels {
    display: flex;
    margin-bottom: 10px;

    label:first-child {
      margin-right: 60px;
    }
  }

  form {
    padding: 15px;
    box-sizing: border-box;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;

    label {
      padding-top: 10px;
    }

    input[type=text] {
      max-width: 270px;
      width: 100%;
      padding: 5px;
      margin: 10px 0;
    }

    small {
      color: $gray;
      text-align: center;
      margin: 15px 0;
      font-size: 12px;
      display: block;
    }
  }
}

.price-table {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: 0 auto;

  li {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
}
