.filter-form {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin-left: 5px;

  label {
    color: $dark-gray;
    font-size: 14px;
  }

  input {
    width: 65px;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 8px;
    margin: 5px;
    border: 2px solid $teal;
  }
}
