.room-page {
  display: flex;
  justify-content: space-around;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

.room-detail {
  flex: 1;
  max-width: 705px;

  .rm-detail-bottom {
    padding-bottom: 10px;
    border-bottom: 1px solid $light-gray;
  }

  .rm-detail-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 30px;
    }

    p {
      color: $gray;
      font-size: 16px;
    }
  }

  .host-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;

    img {
      border-radius: 50px;
      width: 64px;
    }

    p {
      margin: 7px 0;
    }
  }

  .rm-detail-box {
    display: flex;

    &:first-child {
      width: 200px;
      background-color: red;
    }

    &:nth-child(2) {
      flex: 1;
      background-color: red;
    }

    ul {
      list-style: none;

      li {
        font-size: 17px;
        padding: 5px 0;

        strong {
          font-size: 18px
        }
      }
    }

    .rm-detail-list {
      display: flex;
    }
  }

  .rm-detail-amen {
    font-weight: bolder;
  }

  .no-amen {
    color: $gray;
    text-decoration: line-through;
  }

}

.room-booking {
  width: 100%;
  max-width: 315px;
  background-color: $teal;
}
