.room-page {
  display: flex;
  justify-content: space-around;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 17px;
}

.room-detail {
  flex: 1;
  max-width: 705px;

  .rm-detail-bottom {
    padding-bottom: 10px;
    border-bottom: 1px solid $light-gray;
  }

  .rm-detail-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 30px;
    }

    p {
      color: $gray;
      font-size: 16px;
    }

  }

  .rm-icon-list {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;

    img {
      display: block;
      margin: 0 auto;
    }

    p {
      color: $gray;
      margin: 6px 0 0 0;
    }
  }

  .rm-refund {
    display: flex;
    padding: 10px 0;

    img {
      margin: 0 20px;
    }

    strong, p {font-size: 15px;}
  }

  .host-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;

    img {
      border-radius: 50px;
      width: 65px;
    }

    p {
      margin: 7px 0;
    }
  }

  .rm-detail-box {
    display: flex;

    .box-title {
      width: 200px;
    }

    .box-info {
      flex: 1;
    }

    ul {
      list-style: none;
      padding: 0;
      width: 50%;

      li {
        font-size: 17px;
        padding: 5px 0;

        strong {
          font-size: 18px
        }
      }
    }

    .rm-detail-list {
      display: flex;
      justify-content: space-between;
    }
  }

  .price-disclaimer {
    font-size: 13px;

    p {font-size: 13px}
  }

  .rm-detail-amen {
    font-weight: bolder;
  }

  .no-amen {
    color: $gray;
    text-decoration: line-through;
  }

}
