.room-index {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  img {
    max-width: 300px;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    li {
      width: 100%;
      max-width: 333px;
    }
  }

  .room-index-img-box {
    width: 100%;
  }



  .room-index-title {
    color: $dark-gray;
    font-size: 15px;
    margin: 8px 0;
    font-weight: 700;
  }

  .room-index-detail {
    color: $dark-gray;
    font-size: 15px;
    margin: 8px 0;
  }
}


.header-greeting {
  max-width: 600px;

  h1 {

    font-size: 48px;
  }
  strong {
    color: $pink;
    font-weight: bolder;
  }
}

.room-index-img {
  padding-top: 67%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.room-page-img {
  padding-top: 40%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
