.trip-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;

  li {
    max-width: 333px;
  }
}

.trip-item {
  width: 100%;

  border: 1px solid $light-gray;
  margin: 20px 5px;

  &.page {
    max-width: 500px;
    margin: 0 auto;
  }

  .host-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;

    img {
      border-radius: 50px;
      width: 65px;
      border: 2px solid $white;
    }
  }

  .trip-info {
    padding: 15px 20px;

    &.item {
      text-align: center;
    }

    .receipt-link {
      color: $dark-gray;

      &:hover {
        color: $teal;
      }
    }

    .trip-link {
      color: $dark-gray;
      font-weight: 400;
      font-size: 16px;

      &:hover {
        color: $pink;
      }
    }

    .receipt-box {
      border-top: 1px solid $light-gray;
      padding-top: 15px;
    }
  }
}
